rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- PAGALBINĖS FUNKCIJOS ---

    function getUserDoc(userId) {
      return get(/databases/$(database)/documents/users/$(userId));
    }

    function isRequestingUserAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    function isAllowedToRead(userId) {
      let userDoc = getUserDoc(userId);
      return request.auth != null && 
             userDoc != null &&
             (userDoc.data.paymentStatus == 'active' || userDoc.data.paymentStatus == 'trial');
    }

    function hasCredits(userId, creditField) {
       let userData = getUserDoc(userId).data;
       return userData.paymentStatus == 'active' || 
              (userData.paymentStatus == 'trial' && userData.get(creditField, 0) > 0);
    }

    // --- KOLEKCIJOS ---

    match /users/{userId} {
      allow create: if request.auth.uid == userId;
      allow get: if request.auth.uid == userId || isRequestingUserAdmin();
      allow list: if isRequestingUserAdmin();
      allow write: if request.auth.uid == userId || isRequestingUserAdmin();
    }

    match /reports/{reportId} {
      allow create: if isRequestingUserAdmin() || 
                     (isAllowedToRead(request.auth.uid) && hasCredits(request.auth.uid, 'reportCredits'));
      allow read, list: if isRequestingUserAdmin() || isAllowedToRead(request.auth.uid);
      allow update: if isRequestingUserAdmin() || 
                    (resource.data.reporterId == request.auth.uid && request.resource.data.status == 'pending_delete');
      allow delete: if isRequestingUserAdmin();
    }

    match /searchLogs/{logId} {
      allow create: if isRequestingUserAdmin() ||
                     (isAllowedToRead(request.auth.uid) && 
                      request.resource.data.userId == request.auth.uid &&
                      hasCredits(request.auth.uid, 'searchCredits'));
      allow read: if isRequestingUserAdmin() || resource.data.userId == request.auth.uid;
      allow list: if isRequestingUserAdmin() || 
                  (isAllowedToRead(request.auth.uid) && request.query.where[0][1] == 'userId');
      allow update, delete: if false;
    }
    
    match /loginLogs/{logId} {
      allow read, list: if isRequestingUserAdmin();
      allow write: if false;
    }

    match /auditLogs/{logId} {
      allow read, list, create: if isRequestingUserAdmin();
      allow update, delete: if false;
    }

    match /notifications/{notificationId} {
      allow create: if isRequestingUserAdmin();
      allow read, update: if resource.data.userId == request.auth.uid;
      allow delete: if false;
    }
  }
}
